	html,body {
	color: #ffffff;
	background-color: #003052;
	padding:0px;
	margin:0px;
	font-family: "europa", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #f2f2f2;
	}
	a,a:hover {
	align:center;
	width:100%;
	text-decoration: none;
	font-weight: none;
	color: #ffffff;
	}
	strong {
	display:none;
	}
	#alert {
	font-weight: bold;
	
	background: yellow;
	color: black;

	}
	#header {
	padding: 15px;
    background: #001c2f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,.14),0 8px 16px rgba(0,0,0,.28);
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 
	}

	.bottom-nav {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 115px;
		background: #001c2f;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		box-shadow: 0 0 16px 8px rgba(0,0,0,.28);
		display: flex;
		align-items: center;
		justify-content: space-around;
	  }

	  .bottom-nav__item:nth-child(even) {
	
		border-left: 1px solid rgba(255,255,255,.3);
		border-right: 1px solid rgba(255,255,255,.3);

	  }
	  
	  .bottom-nav__item {
		text-decoration: none;
		color: #fff;
		font-size: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
	  
	  .material-icons {
		font-size: 48px;
	  }

	.input {
	border-radius: 4px;
    height: 80px;
    background: #003052;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
	
	input {
	border:0px;
	padding-left:10px;
	font-size: 32px;
	color: #ffffff;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    background: rgba(255,255,255,.1);
	margin: 0;
	outline: 0px;	
	}
	ul {
	background-color: #001c2f;
	list-style-type: none;
	list-style-image: none;
	padding:0px;
	margin-top:120px;
	height:100%;
	}
	li {
    background-color: #003052;
	line-height: 1;
	height: 52px;
	max-height: 52px;
	text-align: center;
	font-size: 32px;
	vertical-align: middle;
	padding-top: 15px;
	margin-bottom: 3px;
    max-width: 100%;
	color: #ffffff;
	}
	#searchclear {
	position: absolute;
	float: right;
	text-align: center;
	width: 120px;
	top: 20px;
	right: 0px;
    color: #ffffff;
	font-size: 50px;
	}
	
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
	}
